<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 well well-lg " style=" background-color:rgba(238, 211, 211, 0.9); color: black; ">
      <h3>Angular SPA Assessment</h3>
      <h3> Duration: 4 to 6 Hour</h3>
    </div>

    <div class="col-xs-6 well well-lg " style=" background-color:rgba(92, 75, 75, 0.9); color: white; ">
      <h3>Angular </h3>
      <h3> Assessment</h3>
    </div>

    <div class="col-xs-12 well " style=" background-color:rgba(92, 75, 75, 0.9); color: white; ">
      <h3 style="text-align: center; font-weight: bold;"> FITNESS TRACKER </h3>
    </div>

  </div>

  <div class="row"  style="background-color:rgba(92, 75, 75, 0.9);">
    <div class="col-xs-4 pull-left" style="padding: 20px;">
      <img  src="https://mma.prnewswire.com/media/449859/PRNE_Xoriant_Logo.jpg?w=800"  > 
    </div>
    <div class="col-xs-8 pull-right">
      <h1 style="color: white; font-weight: bold; margin-left: 15%; ">
        Xoriant
      </h1>
      <h3 style="color: white; ">
        Product Engineering and Enterprise Solutions Company
      </h3>
    </div>
  </div>

</div>

  <div class="container-fluid" style="background-color:rgba(92, 75, 75, 0.9); width: 100%;">
    
  </div>

  <br>
  <app-header ></app-header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-md-7 pull-left" style="margin-bottom: 10px;">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

