<div class="row">
    <div class="col-xs-12">
        <div class="container-fluid text-center" style="background-color: #F8F9FA; box-shadow: 5px 10px 8px #888888; ">
            
                <span class="text-center">Problem Statement:</span>
                <br>
                
            <h4>
                Create a single page application in Angular for fitness appointment.
            </h4>

            <br>
            
                <span class="text-center"> Place Appointment: </span>
                <br>
               
                <h4>
                    The Place Appointment Component of Angular SPA allows you to:
                    <br>
                        1. Provide personal information<br>
                        2. Select Preferences<br>
                        3. Select Package<br>
                        4. Place Appointment
                </h4>

                <br> 
                <span class="text-center" >View Appointment:</span>	
                <br>
                
                <h4>
                    The View Appointment Component of Angular SPA allows you to:<br>
                        <br>

                In this assessment you will develop single page application (SPA) using Angular.

            </h4>
          </div>
          <div class="col-xs-12 ">
              <button class="btn btn-lg btn-primary" routerLink = "/placeAppointment" style="margin-bottom: 10px;">Apply For Trainer</button>
          </div>
    </div>
</div>